@tailwind base;
@tailwind components;
@tailwind utilities;


/* src/index.css */
@keyframes gradient-slow {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}
.animate-gradient-slow {
  background-size: 300% 300%;
  animation: gradient-slow 20s ease infinite;
}